
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post" enctype="multipart/form-data" action="/Import">
    <div class="text-center">
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-2 col-xs-4">
                <input type="file" name="files" class="nav-link text-dark">
            </div>
            <div class="col-md-2 col-xs-4">
                <input type="submit" value="上传导入(仅接受下载后修改xlsx)" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>