@{
    ViewData["Title"] = "主界面";
}

<div class="text-center">
    <div class="form-group">
        <div class="col-md-5"></div>
        <div class="col-md-2 col-xs-4">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Export">导出下载(xlsx)</a>
        </div>
    </div>
</div>
